@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-l2xhev');
	src:url('fonts/icomoon.eot?#iefix-l2xhev') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-l2xhev') format('truetype'),
		url('fonts/icomoon.woff?-l2xhev') format('woff'),
		url('fonts/icomoon.svg?-l2xhev#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus2:before {
	content: "\ea0a";
}
.icon-minus2:before {
	content: "\ea0b";
}
.icon-image:before {
	content: "\e90d";
}
.icon-camera:before {
	content: "\e90f";
}
.icon-folder:before {
	content: "\e92f";
}
.icon-undo:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-equalizer:before {
	content: "\e992";
}
.icon-cog:before {
	content: "\e994";
}
.icon-magic-wand:before {
	content: "\e997";
}
.icon-cloud:before {
	content: "\e9c1";
}
.icon-sun:before {
	content: "\e9d4";
}
.icon-contrast:before {
	content: "\e9d5";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-onedrive:before {
	content: "\eab0";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-bin2:before {
	content: "\e9ad";
}
.icon-filter-b-and-w:before {
	content: "\e603";
}
.icon-exposure:before {
	content: "\e601";
}
.icon-bulb:before {
	content: "\e600";
}
